<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather Report</title>
    </head>
    <body>
        <div> {{ dump(location) }}</div>
        <div id="app"></div>
    </body>
</html>
